<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" data-controller="counters">
        <%= bootstrap_form_for(@counter, class: 'needs-validation', local: true, label_errors: true) do |f| %>
          <%= f.text_field :name, class: 'form-control autofocus', required: true, placeholder: 'my.new.counter', label: 'Counter name:' %>
          <%= f.number_field :value, class: 'form-control', label: 'Start value:' %>
          <%= f.text_field :password,
            class: 'form-control',
            label: 'Password to read and increment:',
            required: true,
            'data-target' => 'counters.passwordInput',
            append: button_tag('Generate and copy',
              class: 'btn btn-link',
              'data-action': 'click->counters#generateAndCopyPassword',
              'data-target': 'counters.passwordButton',
              type: 'button') %>
          <%= f.text_field :read_password,
            class: 'form-control',
            label: 'Password to read (optional):',
            placeholder: 'Optional',
            'data-target' => 'counters.readPasswordInput',
            append: button_tag('Generate and copy',
              class: 'btn btn-link',
              'data-action': 'click->counters#generateAndCopyReadPassword',
              'data-target': 'counters.readPasswordButton',
              type: 'button') %>

          <div class="text-right mt-5">
            <%= submit_tag 'Create counter', class: 'btn btn-primary', id: 'submit_button' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

